type camera_detect, domain, mlstrustedsubject;
type camera_detect_exec, exec_type, file_type;

# Allow for transition from init domain to camera_detect
init_daemon_domain(camera_detect)

# Allow executing a shell script
allow camera_detect shell_exec:file { open read execute entrypoint };

allow camera_detect app_data_file:dir { write search read remove_name open add_name };
allow camera_detect app_data_file:file { rename setattr read create write relabelfrom getattr relabelto unlink open };
allow camera_detect sysfs:file { read getattr open };
allow camera_detect self:capability { fowner chown fsetid dac_override };
allow camera_detect system_data_file:dir { read open };
allow camera_detect system_file:file execute_no_trans;

unix_socket_connect(camera_detect, property, init);
allow camera_detect {camera_detect_prop}:property_service set;
