service cam_pref_wipe /system/bin/sh /system/etc/init.fp.camera_preference_wipe.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:camera_detect:s0

service cam_detect /system/bin/sh /system/etc/init.fp.camera_detect.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:camera_detect:s0

on property:fp2.cam.any.changed=1
    start cam_pref_wipe

on property:init.svc.bootanim=stopped
    start cam_detect
